@model AvaliacoesViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Avaliações Pendentes</h3>
<span class="texto1">Esperamos que tenha ocorrido tudo como planejado, chegou o momento de nos contar como foi sua negociação...</span>

<p class="texto3"> Critérios para Avaliação</p>
<div class="linha">

    <div class="coluna-50">
        <span class="texto2">O Comprador fez o pagamento do produto solicitado?</span>
        <br>
        <span class="texto2">O Comprador te respondeu rapidamente?</span>
        <br>
        <span class="texto2">O Comprador foi gentil e educado durante a negociação?</span>
        <br>
    </div>

    <div class="coluna-50">
        <span class="texto2">O Viajante te entregou o produto solicitado?</span>
        <br>
        <span class="texto2">O Viajante respondeu rapidamente?</span>
        <br>
        <span class="texto2">O Viajante foi gentil e educado durante a negociação?</span>
        <br>
    </div>
</div>
<div class="linha">
    <div class="coluna-50">
        <h4>Como Viajante</h4>
        @foreach (var item in Model.NegociacoesViajante)
        {
            @*card Produto*@
            <div class="cards">
                <img class="img_cards" src="@item.Produto.FotoProduto" />
                <span>@item.Produto.Nome </span>
            </div>

            @*card Comprador*@
            <div class="cards">
                <span>@item.Comprador.Nome </span>
            </div>
            <form action="/Negociacao/EnviarAvaliacaoComprador" method="post">
                <input id="NegociacaoId" name="NegociacaoId" type="hidden" value="@item.Id">
                <input id="NotaComprador" name="NotaComprador" type="hidden" value="5">
                <ul class="avaliacao">
                    <li class="star-icon" onclick="Avaliar('1','NotaComprador')"></li>
                    <li class="star-icon" onclick="Avaliar('2','NotaComprador')"></li>
                    <li class="star-icon" onclick="Avaliar('3','NotaComprador')"></li>
                    <li class="star-icon" onclick="Avaliar('4','NotaComprador')"></li>
                    <li class="star-icon" onclick="Avaliar('5','NotaComprador')"></li>
                </ul>
                <button>Enviar Avaliação</button>
            </form>

        }

    </div>
    <div class="coluna-50">
        <h4>Como Comprador</h4>

        @foreach (var item in Model.NegociacoesComprador)
        {
            <div>

                @*card Produto*@
                <div class="cards-2">
                    <img class="img_cards" src="/img/imagem_teste.jpg" />
                    <span class="texto2"><b>Produto:</b> @item.Produto.Nome </span>
                    <span class="texto2"><b>Viajante:</b> @item.Viagem.UsuarioViajante.Nome </span>
                    <span class="texto2">
                        <b>País:</b> @item.Viagem.Pais
                    </span>



                </div>
                <form action="/Negociacao/EnviarAvaliacaoViajante" method="post">
                    <input id="NegociacaoId" name="NegociacaoId" type="hidden" value="@item.Id">
                    <input id="NotaViajante" name="NotaViajante" type="hidden" value="5">
                    <ul class="avaliacao">
                        <li class="star-icon" onclick="Avaliar('1','NotaViajante')"></li>
                        <li class="star-icon" onclick="Avaliar('2','NotaViajante')"></li>
                        <li class="star-icon" onclick="Avaliar('3','NotaViajante')"></li>
                        <li class="star-icon" onclick="Avaliar('4','NotaViajante')"></li>
                        <li class="star-icon" onclick="Avaliar('5','NotaViajante')"></li>
                    </ul>
                    <button>Enviar Avaliação</button>
                </form>

            </div>
        }
    </div>



</div>
<h3>Avaliações Encerradas</h3>
<div class="linha">
    <div class="coluna-50">
        <h4>Como Viajante</h4>

        @foreach (var item in Model.AvaliacaoEncerradaViajante)
        {
            @*card do produto*@
            <div class="cards">
                <img class="img_cards" src="/img/imagem_teste.jpg" />
                <span class="texto2">@item.Negociacao.Produto.Nome </span>
                <span class="texto2">@item.Negociacao.Comprador.Nome </span>
                <ul>
                    @for (int i = 1; i <= item.NotaComprador; i++)
                    {
                        <li class="star-icon"></li>
                    }
                </ul>
            </div>







        }
    </div>
    <div class="coluna-50">
        <h4>Como Comprador</h4>
        @foreach (var item in Model.AvaliacaoEncerrada)
        {
            @*card do produto*@
            <div class="cards-2">
                <img class="img_cards" src="/img/imagem_teste.jpg" />
                <span class="texto2"> <b>Produto:</b> @item.Negociacao.Produto.Nome </span>
                <span class="texto2"> <b>Viajante:</b> @item.Negociacao.Viagem.UsuarioViajante.Nome </span>

                <ul class="avaliacao">
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= item.NotaViajante)
                        {
                            <li class="star-icon-amarelo"></li>
                        }
                        else
                        {
                            <li class="star-icon-cinza"></li>
                        }
                    }
                </ul>
            </div>
        }
    </div>

</div>
    

