@model BuscaViajanteViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Produto Selecionado</h3> @*Exibir o produto selecionado*@
    <div class="cards">
        <img class="img_cards" src="/img/imagem_teste.jpg" />
        <span class="texto2"><b>Produto:</b> @Model.Produto.Nome </span>
        <span class="texto2"><b>Palavra-Chave:</b>@Model.Produto.PalavraChave </span>
    </div>
</div>

    <div class="cards-3">
        <form action="/negociacao/BuscarViajante">
            @* Pedir a Localidade*@
            <input type="hidden" name="IdProduto" value="@Model.Produto.Id" />
        <span class="texto2">Localidade</span>
        <input class="info_busca_produto" placeholder="Digite uma Localidade"  type="text" name="localidade" required>
            <button class="button">Buscar</button>
        </form>
    </div>

    <div>
        <h3>Viajantes Encontrados</h3> @*Listar viajantes encontrados*@
        <h2>@Model.ResultadoBuscaViajante</h2>
        @foreach (var item in Model.Viagens)
        {
            <div class="cards">
            <form action="/Negociacao/ChamarNegociacao" method="post">
                <input type="hidden" name="ProdutoId" value="@Model.Produto.Id" />
                <input type="hidden" name="ViagemId" value="@item.Id" />
                <input type="hidden" name="CompradorId" value="@Model.UsuarioId" />
                    <img class="img_cards" src="/img/imagem_teste.jpg"/> @*Foto do Usuario*@
                <span class="texto2"><b>Viajante:</b> @item.UsuarioViajante.Nome </span> <br>
                <span class="texto2"><b>Nota:</b> Nota</span> <br>
                <span class="texto2"><b>País:</b> @item.Pais</span> <br>
                <span class="texto2"><b>Data de Ida:</b> @item.DataIda.ToString("dd/MM/yyyy")</span> <br>
                <span class="texto2"><b> Data de Volta:</b> @item.DataVolta.ToString("dd/MM/yyyy")</span>
                    <button class="button">Chamar para Negociação</button>
                </form>
            </div>
        }
    </div>
